/* custom properties, rem(font size base), box-sizing */
:root {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* border- box on all elements */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove system-level styling on inputs used by browsers */
input {
  appearance: none;
}

/* background-color, margins, fonts */
/* body extends whole viewport and no scrolling issues */
/* font-size by default is 16px */
body {
  font-size: 1.6rem;
  font-family: 'Fredoka One', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

html, 
body {
    height: 100%;
}

header {
  display: flex;
  background-color: rgb(4,47,75);
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  z-index: 1;
}

#content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}


ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: .5rem;
}


nav a {
  color:rgb(255,246,218);
  font-size: 1.6rem;
}

.company-name {
  color: rgb(237,18,80);
  font-size: 3.9rem;
}



nav a:hover {
  color: rgb(237,18,80);
}

nav > ul {
  display: flex;
  gap: 8vw;
}


h1, p{
  margin: 0px;
  padding: 0px;
}

#content{
  background-image: url("../src/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}


h1 {
  color: rgb(237,18,80);
  font-weight: bold;
font-size: 6.7rem;
text-align: center;
}

p{
  color: rgb(251,201,157);
  font-size: 2.3rem;

}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  gap: 1rem;
}

.hero-text > button {
  background-color: rgb(236,18,79);
  font-size: 1.8rem;
  color: white;
  border-radius: 20px;
  outline-style: none;
  border-style: none;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.opacity{
  width:100%;
  height:100%;
  background-color: rgb( 0, 0, 0, .5);
}

